{% extends "base.jinja2" %}

{% block pagestyles %}
  {% assets "home_style_bundle" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}
{% endblock %}

{% block content %}
  {% include "navigation.jinja2" %}

  <div class="container">
    
  </div>


{% endblock %}