{% extends "base.jinja2" %}

{% block pagestyles %}

{% endblock %}

{% block content %}
  {% include "navigation.jinja2" %}

<div class="container search-results">
  <div class = "row ">
    <div class = "col-4"> 
       <h1>{{ title }}</h1>
       
        {% if message %}
          <h1>{{ message }}</h1>
        {% endif %}
        {% if smiles %}
          <h2>results for : {{ smiles }}</h2>
          <img src="https://sw.docking.org/depict/svg?w=40&h=40&svgunits=px&smi={{smiles | parse_url}}&zoom=1.5" class="card-img-top" alt="...">
        {% endif %}
        <br>
        <form>
          <div class="form-group">
            <label for="smiles">SMILES</label>
            <input type="text" class="form-control" id="smiles" name="smiles" placeholder="Enter SMILES">
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
         
        
    </div>
    <div class = "col">  
   <div class="table-wrapper">
        <h1>Retrieved {{results | length}} results</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">SMILES</th>
              <th scope="col"> img </th>
            </tr>
          </thead>
          <tbody>
          {% for res in results %}
            <tr>
              <th scope="row">{{res.id}}</th>
              <th scope="row">{{res.smiles}}</th>
              <td><img src="https://arthor.docking.org/depict/bot/svg?w=300&h=300&svgunits=px&smi={{res.smiles | parse_url}}&zoom=1.5&sma={{smiles| parse_url}}&smalim=1" class="card-img-top" alt="..."></td>
            </tr>
          {% endfor %}
            </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}