<nav class="navigation-default">
  <div class="nav-wrapper">

    <div class="left-nav">
      <a href="{{ url_for('home_bp.home') }}">
        Lithium
      </a>
        <a href="{{ url_for('home_bp.home') }}">Home</a>
        <a href="{{ url_for('similarity_bp.similarity') }}">Similarity</a>
        <a href="{{ url_for('substructure_bp.substructure') }}">Substructure</a>
    </div>

    <div class="right-nav">

      

    </div>

  </div>
</nav>
